:host {
  display: flex;
  flex-direction: row;
  @mixin clip-path($clip) {
    -webkit-clip-path: url($clip);
    -moz-clip-path: url($clip);
    -ms-clip-path: url($clip);
    clip-path: url($clip);
  }

  .profile-contact {
    &__data-view {
      order: 0;
      border-radius: 0 0 20px 0;
    }

    &__map-view {
      order: 1;
      width: 226.8px;
      height: 236px;
      border: 1px salmon;
      border-radius: 20px 0 0 0;

      button {
        display: none;
      }
    }

    &__map-canvas {
      height: 250px;
      border: 1px salmon;
      //width: 250px;
    }
  }

  .profile-contact__map-canvas {
    //@include clip-path(#chopChop);
  }
}
