<div class="header-menubar">
  <div class="header-menubar__title">
    <eg-branding class="header-menubar__branding"></eg-branding>
  </div>

  <nav class="header-menubar__nav" aria-label="Main" i18n-aria-label="label">
    <ul>
      <li>
        <a [routerLink]="linkOffer" routerLinkActive="router-link-active" aria-label="Create offer"
          i18n-aria-label="label">
          <!-- [routerLink]="[{outlets: {'primary': ['offer'],  'secondary': ['offer-preview']}}]"   [routerLink]="['offer', {outlets: {'secondary': ['offer-preview']}}]"-->
          <eg-icon class="header-menubar__icon" [name]="EgIconType.action_leaf_add"></eg-icon>
        </a>
      </li>

      <li>
        <a [routerLink]="linkMap" routerLinkActive="router-link-active" aria-label="Show map" i18n-aria-label="label">
          <eg-icon class="header-menubar__icon" [name]="EgIconType.pin_leaf"></eg-icon>
        </a>
      </li>

      <ng-template [ngTemplateOutlet]="tmplSubmenuToggle"></ng-template>
    </ul>
  </nav>
</div>
<div class="header-sidebar" [ngClass]="[submenuOpen ? '--open' : '--closed' ]" egTransientCssClass
  [egTransientClass]="'--animate'" [egTracked]="[{'--closed': 'add'}]" [egDuration]="[{'--closed': 1000}]">
  <div class="header-sidebar__content">
    <nav class="header-sidebar__primary-nav" aria-label="Toggle Sidebar" i18n-aria-label="label">
      <ul>
        <ng-template [ngTemplateOutlet]="tmplSubmenuToggle"></ng-template>
      </ul>
    </nav>

    <div class="header-sidebar__illustration">
      <eg-icon [name]="EgIconType.ill_radish" *ngIf="appLayout === 'layout-portrait'"></eg-icon>
    </div>

    <nav class="header-sidebar__secondary-nav" aria-label="Sidebar" i18n-aria-label="label">
      <ul>
        <li>{{authService.secondsTillLogout$ | async}}</li>
        <li class="header-sidebar__link" *ngIf="!authenticatedUserGuard.isSignedIn()" (click)="onSecondaryNavEvent()">
          <a [routerLink]="[SeedNav.SignIn.full]" routerLinkActive="router-link-active"
            aria-label="Sign in" i18n-aria-label="label">
            <eg-icon class="header-menubar__icon" [name]="EgIconType.action_signin"></eg-icon>Sign in
          </a>
        </li>

        <li class="header-sidebar__link" *ngIf="!authenticatedUserGuard.isSignedIn()" (click)="onSecondaryNavEvent()">
          <a [routerLink]="[SeedNav.SignUp.full]" routerLinkActive="router-link-active"
            aria-label="Sign up" i18n-aria-label="label">
            <eg-icon class="header-menubar__icon" [name]="EgIconType.action_signup"></eg-icon>Sign up
          </a>
        </li>

        <li class="header-sidebar__link" routerLinkActive="router-link-active" (click)="onSecondaryNavEvent()">
          <a *ngIf="authenticatedUserGuard.canActivateLink() | async"
            [routerLink]="[SeedNav.AccountSettings.full]" aria-label="Sign up" i18n-aria-label="label">
            <eg-icon class="header-menubar__icon" [name]="EgIconType.menu_option_profile"></eg-icon>Profile
          </a>
        </li>

        <li class="header-sidebar__link" (click)="onSecondaryNavEvent()"
          *ngIf="authenticatedUserGuard.canActivateLink() | async">
          <a (click)="onSignOut()" aria-label="Sign out" i18n-aria-label="label">
            <eg-icon class="header-menubar__icon" [name]="EgIconType.action_signout"></eg-icon>Logout
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-sidebar__footer">
    <seed-locale-switch
      [ngClass]="{'--mobile-sidebar': appLayout === 'layout-portrait', '--desktop-sidebar': appLayout === 'layout-landscape'}">
    </seed-locale-switch>
  </div>
</div>

<ng-template #tmplSubmenuToggle>
  <li (click)="toggleSubmenu()">
    <a aria-label="Toggle sidebar" i18n-aria-label="label">
      <eg-icon class="header-menubar__icon" [name]="EgIconType.menu_option_more"></eg-icon>
    </a>
  </li>
</ng-template>
