<seed-auth-form [titleTmpl]="titleTmpl" [formTmpl]="changePasswordTmpl"></seed-auth-form>

<ng-template #titleTmpl i18n="title">Change your password</ng-template>

<ng-template #changePasswordTmpl>

  <form nz-form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" [nzLayout]="formLayout"
    class="seed-change-pw__form">
    <input type="hidden" nz-input formControlName="username" aria-hidden="true" />
    <input type="hidden" nz-input formControlName="token" aria-hidden="true" />

    <nz-form-item>
      <nz-form-control nzHasFeedback [nzErrorTip]="tmplFormFieldErrors">
        <nz-input-group [nzPrefix]="tmplPasswordIcon" [nzSuffix]="tmplPasswordRequirements">
          <input nz-input type="password" formControlName="password" i18n-placeholder="placeholder"
            placeholder="New password" autocomplete="new-password" aria-label="New password" i18n-aria-label="label" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzHasFeedback [nzErrorTip]="tmplFormFieldErrors">
        <nz-input-group [nzPrefix]="tmplPasswordIcon">
          <input nz-input type="password" formControlName="confirmPassword" i18n-placeholder="placeholder"
            placeholder="Confirm new password" autocomplete="new-password" aria-label="Confirm new password"
            i18n-aria-label="label" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="seed-change-pw__actions">
      <button nz-button nzType="primary" [nzLoading]="submitFormInProgress" [disabled]="!changePasswordForm.valid"
        i18n="button">
        Save password
      </button>
    </div>

    <ng-template #tmplPasswordRequirements><eg-icon class="-input" [name]="EgIconType.info_comment_outline" nz-popover
      [nzPopoverTitle]="passwordRulesTitle" [nzPopoverContent]="passwordRulesContent" nzPopoverTrigger="click"></eg-icon>
    </ng-template>
    <ng-template #passwordRulesTitle i18n="popup-title">Password Requirements</ng-template>

    <ng-template #passwordRulesContent>
      <ul class="seed-change-pw__password-rules">
        <li i18n="popup-bullet">min. length: 8</li>
        <li i18n="popup-bullet">at least one upper case letter</li>
        <li i18n="popup-bullet">at least one lower case letter</li>
        <li i18n="popup-bullet">at least one number</li>
        <li i18n="popup-bullet">no whitespace allowed</li>
        <li i18n="popup-bullet">special characters allowed</li>
      </ul>
    </ng-template>
  </form>
</ng-template>

<ng-template #tmplFormFieldErrors let-control>
  <seed-form-errors [control]="control"></seed-form-errors>
</ng-template>

<ng-template #tmplPasswordIcon><eg-icon [name]="EgIconType.password_outline" class="-input"></eg-icon></ng-template>
