a {
  color: unset;

  &:hover {
    color: unset;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: unset;
}

ul {
  li {
    list-style: none;
  }
}

:focus {
  outline: transparent;
}
