@mixin ul-horizontal {
  display: flex;
  flex-direction: row;
}

@mixin grow-vertical-parent() {
  display: flex;
  flex-direction: column;
}

@mixin grow-vertical-child() {
  flex-grow: 1;
  align-items: stretch;
}
