@import 'app/style/seed-global';
@import 'app/style/seed-mixins';

html,
body,
seed-root {
  min-height: 100%;
}

html,
body {
  font-size: 14px;
  line-height: 1.5;

  @include property-for-breakpoint(font-size, (14px, LG 16px));
}

seed-root {
  @include scrollbar-style(
    var(--eg-scrollbar-track),
    $--eg-scrollbar-thumb,
    var(--eg-scrollbar-width),
    var(--eg-scrollbar-width)
  );

  @include form-autofill-hightlight($--eg-form-autofill-highlight-color);
}
