<ng-container *ngIf="control.hasError('required')">
  <div i18n="formfield-error|@@formfield-error.required">Required</div>
</ng-container>
<ng-container *ngIf="control.hasError('notUnique')">
  <div i18n="formfield-error|@@formfield-error.system-unique">
    Already taken, must be unique
  </div>
</ng-container>
<ng-container *ngIf="control.hasError('email')">
  <div i18n="formfield-error|@@formfield-error.invalid-email">
    Invalid email
  </div>
</ng-container>
<ng-container *ngIf="control.hasError('confirm')">
  <div i18n="formfield-error|@@formfield-error.invalid-confirm">
    Does not match with password
  </div>
</ng-container>
<ng-container *ngIf="control.hasError('pattern')">
  <div i18n="formfield-error|@@formfield-error.regex">
    Does not fulfill requirements
  </div>
</ng-container>
<ng-container *ngIf="control.hasError('minlength')">
  <div i18n="formfield-error|@@formfield-error.min-length">Too short</div>
</ng-container>
<ng-container *ngIf="control.hasError('maxlength')">
  <div i18n="formfield-error|@@formfield-error.max-length">Too long</div>
</ng-container>
<ng-container *ngIf="control.hasError('invalidCredentials')">
  <div i18n="formfield-error|@@formfield-error.invalid-credentials">
    Invalid username or password
  </div>
</ng-container>
