// Custom Properties only
@import '~@bfoese/eg-ui-core-breakpoint/core-breakpoint';
@import '_colors';

$--header-menubar-bg: $ssd-green-dark-rgba;
$--header-menubar-title-color: $ssd-green-light-rgba;
$--header-menubar-link-color: $ssd-green-light-rgba;
$--header-submenu-bg: scale-color($seed-blush-medium-rgba, $lightness: 10%);

$--eg-scrollbar-thumb: scale-color($ssd-green-dark-rgba, $lightness: 50%);

$--eg-form-autofill-highlight-color: scale-color(
  $p5-yellow-medium-rgba,
  $lightness: 80%
);

:root {
  --eg-scrollbar-track: transparent;
  --eg-scrollbar-width: 6px;
  --eg-split-panel-scrollbar-margin: 0.5em;

  @include property-for-breakpoint(
    --eg-window-padding-h,
    (1em, XS 1.5em, SM 1.7em, XL 2em)
  );
  @include property-for-breakpoint(
    --eg-window-padding-v,
    (1em, XS 1.5em, SM 1.7em, XL 2em)
  );

  @include property-for-breakpoint(
    --eg-panel-border-radius,
    (1.2em, XS 1.5em, MD 2em)
  );

  --eg-primary-font-color: rgba(67, 62, 59, 1);
  --eg-outlet-primary-bg: #f6ece7;
  --eg-outlet-secondary-bg: rgba(254, 249, 240, 1);
}
