name: Auto deploy QA

on:
  push:
    branches:
      - main
      - 'feat-*'
  pull_request:
    branches:
      - main

env:
  # Extracting the branch name:
  # For GITHUB_REF=refs/heads/feature-branch-1
  # ${GITHUB_REF##*/} will be 'feature-branch-1'
  BRANCH: ${GITHUB_REF##*/}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # akhileshns/heroku-deploy@v3.12.12
      - uses: akhileshns/heroku-deploy@79ef2ae4ff9b897010907016b268fd0f88561820
        with:
          branch: $BRANCH
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.QA_HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          dontuseforce: false
          usedocker: true
          docker_heroku_process_type: web
          region: eu
          docker_build_args: |
            GH_PKG_TOKEN
            NG_BUILD_CONFIG
        env:
          NG_BUILD_CONFIG: qa
          GH_PKG_TOKEN: ${{secrets.GH_PKG_TOKEN}}
          HD_NGINX_PROXY_PASS: ${{secrets.QA_NGINX_PROXY_PASS}}



